@import '../../../styles/vars';

.article__menuText {
	border-radius: 10px;
	border-bottom: 1px solid var(--very-light-pink);
	background-color: white;
	display: flex;
	padding: 5px;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: black;

	&__div {
		//outline: 1px solid red;
		display: flex;
		width: 550px;
		justify-content: space-between;
		align-items: center;

		&__selectorColor {
			//outline: 1px solid black;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100px;
			&__red{
				border: 5px solid red;
				inline-size: 5px;
				border-radius: 50%;
				height: 12px;
				width: 12px;
				cursor: pointer;
			}
			&__blue{
				border: 5px solid blue;
				border-radius: 50%;
				height: 12px;
				width: 12px;
				cursor: pointer;
			}
			&__black{
				border: 5px solid black;
				border-radius: 50%;
				height: 12px;
				width: 12px;
				cursor: pointer;
				color: white;
			}
			&__green{
				border: 5px solid green;
				border-radius: 50%;
				height: 12px;
				width: 12px;
				cursor: pointer;
			}
		}
	}
}