@import '../../styles/vars';
.navIzq__nav {
	// outline: 1px solid black;
	border-radius: 0px;
	//background-color: var(--greiTipo0_1);
	border-bottom: 1px solid var(--very-light-pink);
	border-right: 1px solid var(--very-light-pink);
	padding: 0;
	//height: 88vh;
	//width: 35px;

	position: fixed;
	top: 105px;
	left: 5px;

	display: flex;
	// flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;

	&__top {
		// outline: 1px solid red;
		display: flex;
		flex-direction: column;
		// height: 50%;
	}
	&__botton {
		// outline: 1px solid green;
		// height: 48%;

		display: flex;
		flex-wrap: wrap;
		align-content: flex-end;
	}
	div img {
		// outline: 1px solid blue;
		// background-color: red;
		width: 25px;
		cursor: pointer;
		padding: 5px;
		user-select: none;
	}
	div img:hover {
		background-color: var(--greiTipo0_3);
	}
}
.navIzq__nav__active {
	background-color: var(--greiTipo0_3);
}
