@import '../../styles/vars';

.article__menuLapiz {
	&__tamano {
		border-bottom: 1px solid var(--very-light-pink);
		background-color: var(--greiTipo0_1);
		border-radius: 10px;
		display: flex;
		align-content: center;
		justify-content: space-between;
		padding: 5px 20px;
		width: 300px;
		span {
			padding-top: 2px;
		}
		&__icons {
			// outline: 1px solid red;
			display: flex;
			align-items: center;
			height: 100%;

			&__icon {
				width: 40px;
				height: 18px;
				border-radius: 2px;
				margin: 0 3px;
				outline: 1px solid var(--greiTipo0_3);
				cursor: pointer;
			}

			.activeIconLinea {
				background-color: white;
				outline: 3px solid var(--greiTipo0_6);
			}
		}

		.input {
			width: 40px;
			text-align: right;
			padding-right: 3px;
		}
		.button {
			width: 30px;
		}
	}
	&__tamanoSinTitle {
		border-bottom: 1px solid var(--very-light-pink);
		background-color: var(--greiTipo0_2);
		border-radius: 10px;
		display: flex;
		align-content: center;
		justify-content: space-between;
		padding: 5px 5px;
		width: 230px;
		span {
			padding-top: 2px;
		}
		&__icons {
			// outline: 1px solid red;
			display: flex;
			align-items: center;
			height: 100%;

			&__icon {
				width: 40px;
				height: 18px;
				border-radius: 2px;
				margin: 0 3px;
				outline: 1px solid var(--greiTipo0_3);
				cursor: pointer;
			}

			.activeIconLinea {
				background-color: white;
				outline: 3px solid var(--greiTipo0_6);
			}
		}

		.input {
			width: 40px;
			text-align: right;
			padding-right: 3px;
		}
		.button {
			width: 30px;
		}
	}
}
