:root {
	--white: #ffffff;
	--black: #000000;

	--greiTipo0_1: #f4f6f6;
	--greiTipo0_2: #eaeded;
	--greiTipo0_3: #d5dbdb;
	--greiTipo0_4: #bfc9ca;
	--greiTipo0_5: #aab7b8;
	--greiTipo0_6: #95a5a6;

	--greiTipo1_1: #eaecee;
	--greiTipo1_2: #d5d8dc;
	--greiTipo1_3: #abb2b9;
	--greiTipo1_4: #808b96;
	--greiTipo1_5: #566573;
	--greiTipo1_6: #2c3e50;

	--greiTipo2_1: #ebedef;
	--greiTipo2_2: #d6dbdf;
	--greiTipo2_3: #aeb6bf;
	--greiTipo2_4: #85929e;
	--greiTipo2_5: #5d6d7e;
	--greiTipo2_6: #34495e;

	--greiTipo3_1: #f2f4f4;
	--greiTipo3_2: #e5e8e8;
	--greiTipo3_3: #ccd1d1;
	--greiTipo3_4: #b2babb;
	--greiTipo3_5: #99a3a4;
	--greiTipo3_6: #7f8c8d;

	--very-light-pink: #c7c7c7;
	--text-input-field: #f7f7f7;
	--hospital-green: #acd9b2;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
}
* {
	margin: 0;
	padding: 0;
}
body,
html {
	width: 100%;
	height: 100%;
	// background-color: blue;
}
