@import '../../../styles/vars';

.simbols {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__container {
    height: 100%;

    &__flex {
      display: flex;
      justify-content: space-between;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    align-content: flex-end;
    justify-content: center;
  }
}