@import 'src/styles/vars';
.article__menuCuadrado {
	border-radius: 10px;
	border-bottom: 1px solid var(--very-light-pink);
	background-color: white;
	display: flex;
	padding: 5px 10px;
	justify-content: space-between;
	width: 100%;
	color: black;

	&__tamano {
		border-bottom: 1px solid var(--very-light-pink);
		background-color: var(--greiTipo0_1);
		border-radius: 10px;
		display: flex;
		align-content: center;
		justify-content: space-between;
		padding: 5px 20px;
		width: 25%;
		span {
			padding-top: 2px;
		}

		.input {
			width: 20px;
			text-align: right;
			padding-right: 3px;
		}
		.button {
			width: 30px;
		}
	}

	&__paletaColor {
		border-radius: 10px;
		border-bottom: 1px solid var(--very-light-pink);
		padding: 5px;
		background-color: var(--greiTipo0_1);
		width: 30%;
		//width: 250px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		.color input {
			//outline: 1px solid grey;
			// border-radius: 1px;
			border: none;
			padding: 0px;
			margin: 0;
			width: 40px;
			height: 20px;
			cursor: pointer;
		}
		.color input:hover {
			outline: 3px solid var(--greiTipo2_4);
		}
	}
}
