@import 'src/styles/vars';

.article__menuLapiz {
	border-radius: 10px;
	border-bottom: 1px solid var(--very-light-pink);
	background-color: white;
	display: flex;
	padding: 5px 10px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: black;
}
